@use "../abstracts/" as *;

.dropdown-button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  //align-items: center;
  gap: 0.7rem;
  font-family: $navigation-link-ff;
  color: $navigation-link-clr;
  letter-spacing: $navigation-link-ls;
  font-size: $navigation-link-fs;
  font-weight: $navigation-link-fw;

  &[aria-expanded="false"] {
    &::after {
      transform: rotate(135deg);
      margin-top: 10%;
    }
    & ~ .dropdown-menu {
      display: none;
    }
  }
  &[aria-expanded="true"] {
    & ~ .dropdown-menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      z-index: 100;
      min-width: 180px;
      inset: 140% 0 auto;
      padding: 2.5rem 2rem;
      box-shadow: 0 15px 25px #00000026;
      border-radius: 0.5rem;
      background-color: white;
      transform: translateX(-25%);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    transform: rotate(-45deg);
    border-color: black;
    margin-top: 15%;
  }
}
